.vscode/
samples/
images/
venv/
*.pyc
*.pt
*.png
*.jpg
*.out
wandb/
results/exps/
data/**/*.csv
*.csv

docs/build/
.DS_Store
__pycache__/
*.py[cod]
*$py.class
*.nfs*

test/test-workdir/
test/out/
venv/

coolchic/CCLIB/
coolchic.egg-info/
*.so
dist/
build/

cool-chic-pep/

# The yaml config files, track the templates instead.
cfg/**/*config_*.yaml
